.xdebug-error {
	color:#000;}
pre.cake-debug {
	background:#000;color:#fff;text-align:left;}
.cake-sql-log {
	position:fixed;bottom:0;left:85%;z-index:100;width:100%;background-color:#000;color:#FFF;border-collapse:collapse;margin:0;font-size:10px;}
.cake-sql-log caption {
	background-color:#900;color:#FFF;padding:2px 10px;text-align:left;}
.cake-sql-log thead tr th {
	line-height:10px;padding:0;margin:0;background:#000;color:#FFF;}
.cake-sql-log tbody tr td {
	padding:0 1px;border:1px solid #999;background-color:#EEE;color:#000;text-align:left;}
.cake-sql-log thead, .cake-sql-log tbody {
	display:none;}
.cake-sql-log:hover, .cake-sql-log.hover, .sqlWrap:hover .cake-sql-log {
	left:0 !important;}
.cake-sql-log:hover caption, .cake-sql-log.hover caption, .sqlWrap:hover .cake-sql-log caption {
	text-align:center !important;font-size:1em !important;}
.cake-sql-log:hover thead, .cake-sql-log.hover thead, .sqlWrap:hover .cake-sql-log thead {
	display:table-header-group !important;}
.cake-sql-log:hover tbody, .cake-sql-log.hover tbody, .sqlWrap:hover cake-sql-log tbody {
	display:table-row-group !important;}
.cakeDebug {
	position:fixed;top:0;left:90%;z-index:10;width:100%;margin:0;padding:0 1%;background-color:#000;color:#FFF;text-align:left;}
.cakeDebug * {
	background-color:#000;color:#FFF;display:none;}
.cakeDebug:hover, .sqlWrap:hover {
	left:0;width:98%;max-height:92%;overflow:auto;padding:2% 1%;font-size:12px;}
.sqlWrap:hover {
	left:0 !important;position:fixed;bottom:0;height:auto;max-height:100%;padding:0;width:100%;max-width:100%;}
.sqlWrap:hover .cake-sql-log:hover {
	position:static;}
.cakeDebug:hover pre {
	display:block;}